#cloud-config
package_update: true

write_files:
  - path: /opt/setup/common.sh
    permissions: '0755'
    owner: root:root
    content: |
        ${COMMON_SH}
runcmd:
  - [ bash, -c, "/opt/setup/common.sh" ]
