#cloud-config
package_update: true

write_files:
  - path: /opt/setup/common.sh
    permissions: '0755'
    owner: root:root
    content: |
        ${COMMON_SH}
  - path: /opt/setup/worker.sh
    permissions: '0755'
    owner: root:root
    content: |
        ${WORKER_SH}

runcmd:
  - [ bash, -c, "/opt/setup/common.sh" ]
  - [ bash, -c, "/opt/setup/worker.sh" ]
